

/* Box Sizing */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
body{
width: 100%;
font-family: 'Open Sans', sans-serif;
font-size: 1em;
line-height: 20px;
background: url("../images/medbkgd.png") no-repeat center center fixed;;
background-size: cover;
background-position: fixed;
background-color: gray;
}

.clearfix {
 overflow: auto;
}

/* header */

header{
background: black;
height: 70px;
position: fixed;
width: 100%;
z-index: 1;
top:0px;
}

.wrapper{
width: 75%;
margin-left: auto;
margin-right: auto;
}

.sitename{
float: left;
font-family: 'Open Sans', sans-serif;
width: 150px;
font-size: 1.5em;
color: white;
padding: 15px 20px 0 0;
margin-top: 10px;
font-weight: 100;

}


.sitename a{
text-decoration: none;
color: white;
}


.topBar nav{
float: right;
padding: 28px 20px 0 0;
}

.topBar nav li{
float: left;
}

nav li a{
-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.2s;
text-decoration: none;
color: white;
font-family: 'Open Sans', sans-serif;
font-size: .7em;
font-weight: 200;
cursor: pointer;
margin-right: 30px;
}


li a:hover{
background-color: #fbae01;
color: white;
padding: 10px;
}


/* Hero */

.hero{
width: 100%;
height: 700px;
opacity: .9;
}

.heroContent, .sitename, nav{
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
 
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
 
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.heroContent, .sitename, nav {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}

.heroContent{
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
animation-delay: 1s;
}

.hero .heroContent{
width:600px;
background: #363636;
margin: 150px 0 0 100px;
font-family: 'Open Sans', sans-serif;
font-size: 5em;
line-height: 90px;
font-weight: 200;
color: white;
padding: 20px;
text-align: center;
}

.emphasis{
font-style: italic;
color: #fbae01;
}


/* InfoPanel */
.infoPanel{
  width:100%;
  background-color: #272727;
  border-top: solid 1px #363636;
  border-bottom: solid 1px #363636;
  padding: 60px;
  height: 500px;
}


.infoContent1{
color: white;
width: 400px;
 float: left;
}

.infoContent2{
 color: white;
 width: 400px;
 float: right;
}


.infoPanel .alarmIcon{
background: url("../images/alarmclock.png") no-repeat;
width: 130px;
height: 130px;
margin-left: 115px;
}

.infoPanel .soundIcon{
background: url("../images/soundicon.png") no-repeat;
width: 300px;
height: 130px;
margin-left: 115px;
}

.infoPanel h2{
font-family: 'Open Sans', sans-serif;
font-size: 1.5em;
padding: 20px;
margin-bottom: 20px;
width: 350px;
text-align: center;
border-bottom: 1px solid #fbae01;
}


/* About */
.about{
background-color: #363636;
color: white;
width: 100%;
}

/* ask about another way to
stop from breaking */
.about .wrapper{
padding: 100px 0 100px 0px;
}

.about h2{
font-family: 'Open Sans', sans-serif;
font-size: 2em;
padding: 20px;
margin-bottom: 20px;
background-color: #fbae01;
width: 130px;

}

.about p{
font-family: 'Open Sans', sans-serif;
font-size: 1.8em;
line-height: 45px;
font-weight: 300;
}

blockquote {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1em;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  color: #fbae01;
  font-style: italic;
}

.application{
background-color: #d3d3d3;
color: #363636;
height: 500px;
width: 100%;
}

.application h2{
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: 3em;
line-height: 1.5em;
padding: 100px 0 20px 0;
text-align: center;
color: #363636;
border-bottom: 1px solid #363636;
width: 600px;
margin-left: auto;
margin-right: auto;
}

.application .buttons{
padding: 70px 0 50px 0;
width: 300px;
margin-left: auto;
margin-right: auto;
}

.application a{
-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
text-decoration: none;
cursor: pointer;
color: #363636;
}

.application .selectBank{
width: 200px;
padding: 10px;
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 1em;
background-color:#363636;
color:white;
margin-left: auto;
margin-right: auto;
}

.application .selectBank:hover{
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
color:white;
background-color: #727272;
}

.contact{
background-color: #363636;
color: white;
width: 100%;
color: white;
}


/* ask about another way to
stop from breaking */

.contact .wrapper{ 
padding: 50px 0 100px 0px;
margin-right: auto;
margin-left:auto;
}

.contact h2{
font-family: 'Open Sans', sans-serif;
font-size: 2em;
padding: 20px;
background-color: #fbae01;
width: 150px;
text-align: center;
}

.contact h3{
font-family: 'Open Sans', sans-serif;
font-size: 1.5em;
padding-top: 20px;
}

.contact p{
font-family: 'Open Sans', sans-serif;
font-size: 1em;
line-height: 35px;
font-weight: 300; 
padding-top: 40px;
}

.contact a{
 text-decoration: none;
 color: #fbae01;
}

.footer{
background-color: black;
color: white;
height: 100px;
font-family: 'Open Sans', sans-serif;
font-size: 1em;
font-weight: 100;
}

.footer .wrapper{
  padding: 45px 0 0 0;
}

.infoDropdown{
clear:both;
padding: 20px 0  0  0;
text-align: center;
}








